{% extends "blog/base.html" %}
{% block title %}About My Blog{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>About Surfcast the Sound</h1>
    <p><br>Surfcast the sound was founded in 2021 starting off as a school project. Since inception the growth has been amazing. The surfcast the sound team is constantly
        fishing to get you the newest trends and the best information quickly. <br><br> 
        STS is now not only working to help you but preserve your fishing lifestyle!<br>
        To help out, check out our </p> 
        <a class="nav-link" href="/shop">Donate Page</a> 
        <p> </p>
</div>
{% endblock content %}